.bubble {
  position: relative;

  border-radius: 20px;
  display: flex;
  cursor: pointer;

  border: 2px solid transparent;
  background-color: transparent;
  transition:
    background-color 0.25s,
    box-shadow 0.25s,
    border-color 0.25s;
}
.bubble.selected {
  background-color: var(--backgroundAlt);
  border-color: var(--primary);
}
.bubble:hover {
  box-shadow: 0 0 5px var(--primary);
}

.star-icon {
  position: absolute;
  top: -5px;
  right: 0;
}
