.card {
  background-color: var(--background);
  color: var(--text);
  border-radius: 8px;
  border: 1px solid var(--primary);
  margin: 10px;
  overflow: hidden;

  transition:
    color 0.25s,
    background-color 0.25s,
    border-color 0.25s;
}

.card__title {
  background-color: var(--primary);
  color: var(--text);

  transition:
    color 0.25s,
    background-color 0.25s;
}
