.bubble {
  border-radius: 20px;
  display: flex;
  cursor: pointer;

  border: 2px solid transparent;
  background-color: transparent;
  transition:
    background-color 0.25s,
    box-shadow 0.25s,
    border-color 0.25s;
}
.bubble.selected {
  background-color: white;
  border-color: var(--primary);
}
.bubble:hover {
  box-shadow: 0 0 5px var(--primary);
}

.google {
  background-image: url("../assets/google-logo.svg");
  background-size: cover;
}
.ddg {
  background-image: url("../assets/ddg-logo.svg");
  background-size: cover;
}
.startpage {
  background-image: url("../assets/startpage-logo.svg");
  background-size: cover;
}
