:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  line-height: 1.5;
  font-weight: 400;

  background-image: var(--backgroundImage);
  background-size: cover;

  --primary: #f294bd;
  --primaryAlt: #c75f8d;
  --primaryAltTransparent: #c75f8d99;
  --secondary: #5e30ba;
  --secondaryAlt: #3a1f7b;
  --background: #ffebf3;
  --backgroundAlt: #ffebf3;
  --text: #5e3044;
  --textAlt: #a85e7e;

  --icon: url("assets/Bingus.webp");
  --backgroundImage: url("assets/bg.jpg");
}

a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondaryAlt);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 4px 20px;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  width: fit-content;
  font-size: 1em;
  transition:
    color 0.25s,
    border-color 0.25s,
    background-color 0.25s,
    box-shadow 0.25s;
}
button:hover {
  border-color: var(--primaryAlt);
  box-shadow: 0 0 5px var(--primaryAlt);
}
button:focus,
button:focus-visible {
  border-color: var(--primaryAlt);
  box-shadow: 0 0 5px var(--primary);
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  width: 18px;
  height: 18px;

  border: 2px solid var(--primaryAlt);
  border-radius: 4px;
  transition:
    background-color 0.25s,
    box-shadow 0.25s,
    border-color 0.25s;
}
input[type="checkbox"]:checked {
  background-color: var(--primary);
}
input[type="checkbox"]:focus {
  box-shadow: 0 0 5px var(--primary);
  outline: none;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--primaryAlt);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1em;
  color: var(--text);
  background-color: var(--backgroundAlt);
  transition:
    box-shadow 0.25s,
    color 0.25s,
    background-color 0.25s,
    border-color 0.25s;
}
input[type="text"]:focus {
  box-shadow: 0 0 5px var(--primary);
  outline: none;
}
input[type="text"]::placeholder {
  color: var(--textAlt);
  opacity: 0.75;
}

.alt-text {
  color: var(--textAlt);
  transition: color 0.25s;
}

.theme-icon {
  background-image: var(--icon);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.5em;
  width: 1.5em;
}
