:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;

  line-height: 1.5;
  font-weight: 400;

  background-image: url("assets/bg.jpg");
  background-size: cover;

  --primary: #f294bd;
  --primary-dark: #c75f8d;
  --secondary: #5e30ba;
  --secondary-dark: #3a1f7b;
  --background: #ffebf3;
  --white: #ffebf3;
  --gray: #a85e7e;
  --black: #5e3044;
}

a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 10px;
  background-color: var(--primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  width: 18px;
  height: 18px;

  border: 2px solid var(--primary-dark);
  border-radius: 4px;
  transition:
    background-color 0.25s,
    box-shadow 0.25s;
}
input[type="checkbox"]:checked {
  background-color: var(--primary);
}
input[type="checkbox"]:focus {
  box-shadow: 0 0 5px var(--primary);
  outline: none;
}

input[type="text"] {
  border: 2px solid var(--primary-dark);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1em;
  color: var(--black);
  background-color: "white";
  transition: box-shadow 0.25s;
}
input[type="text"]:focus {
  box-shadow: 0 0 5px var(--primary);
  outline: none;
}
input[type="text"]::placeholder {
  color: var(--gray);
  opacity: 0.75;
}
