.todo-reorder {
  color: var(--textAlt);
  border-radius: 20px;
  display: flex;
  padding: 2px;
  border: 2px solid transparent;
  transition: background-color 0.25s, box-shadow 0.25s, border-color 0.25s,
    color 0.25s;
}
.todo-reorder.selected {
  color: var(--text);
  border-color: var(--primary);
  background-color: var(--backgroundAlt);
  box-shadow: 0 0 5px var(--primary);
}

.todo {
  display: flex;
  align-items: center;
  padding: 6px 1rem;
  border: 2px solid transparent;
  border-bottom: 1px solid var(--primaryAltTransparent);
}
.todo.selected {
  box-shadow: 0 0 5px var(--primary);
  border-color: var(--primary);
  border-bottom: 2px solid var(--primary);
  background-color: var(--backgroundAlt);
  box-shadow: 0 0 5px var(--primary);
}

.daily-todo {
  display: flex;
  align-items: center;
  padding: 6px 1rem;
  flex-grow: 1;
}
